.reply__text {
  max-width: 300px;
  font-family: Roboto, arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #b6bcbf;
  margin: 0 auto;
  padding: 15px 0 0;
}

@media screen and (max-width: 767px) {
  .reply__text {
    font-size: 16px;
    line-height: 22px;
  }
}
