.button_styles_search {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 168px;
  height: 64px;
  border-radius: 100px;
  color: #fff;
  background: #2F71E5;
  box-shadow: 0 5px 15px rgba(14, 26, 57, 0.2);
  transition: all linear .1s;
}

.button_styles_search:focus {
  box-shadow: 0px 0px 7px 3px #2f71e5;
  outline: none;
}

.button_styles_search:hover {
  background: #347eff;
  outline: none;
}

.button_styles_search:active {
  background: #2A65CC;
  outline: none;
}

@media screen and (max-width: 1023px) {
  .button_styles_search {
    height: 56px;
    width: 160px;
  }
}

@media screen and (max-width: 425px) {
  .button_styles_search {
    position: relative;
    width: 100%;
    margin-top: 16px;
  }
}
