.author__text {
  max-width: 600px;
  margin: 0;
  padding: 24px 0 0;
  font-family: Roboto, arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
}
