.skills__item {
  margin: 10px 0 0 39px;
  padding: 0;
}

@media screen and (max-width: 1044px) {
  .skills__item {
    margin: 40px 0 0;
  }
}

@media screen and (max-width: 767px) {
  .skills__item {
    margin: 39px 0 0;
  }

  .skills__item:nth-of-type(3) {
    margin-top: 30px;
  }

  .skills__item:nth-of-type(4) {
    margin-top: 30px;
  }
}
