.skills__subtitle {
  font-family: Roboto, arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #1a1b22;
}
