.header__title {
  font-family: 'Roboto Slab', arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  padding: 0 0 0 104px;
  color: #fff;
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .header__title {
    padding-left: 40px;
  }
}

@media screen and (max-width: 767px) {
  .header__title {
    padding-left: 16px;
    font-size: 16px;
    line-height: 24px;
  }
}
