.story-card__link {
  box-sizing: border-box;
  background-color: #fff;
  width: 400px;
  height: 288px;
  border-radius: 16px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  padding: 24px;
  text-decoration: none;
}
