.main__title {
  font-family: 'Roboto Slab', arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 64px;
  color: #fff;
  margin: 0;
  padding: 80px 0 0;
}

@media screen and (max-width: 860px) {
  .main__title {
    font-size: 36px;
    line-height: 40px;
    max-width: 300px;
    padding-top: 40px;
  }
}


@media screen and (max-width: 425px) {
  .main__title {
    padding-top: 30px;
  }
}
