@import url(./__circle/preloader__circle.css);
@import url(./__text/preloder__text.css);

.preloader {
  display: none;
  margin: 0 auto;
  position: relative;
  max-width: 1440px;
  min-height: 282px;
  background-color: #f5f6f7;
}

@media screen and (max-width: 767px) {
  .preloader {
    min-height: 150px;
  }
}
