.table__container {
  grid-area: container;
  max-width: 1128px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  font-family: Roboto, arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #fff;
  padding: 15px 0;
}

@media screen and (max-width: 767px) {
  .table__container {
    padding-bottom: 0;
  }
}
