@import url(./__wrapper/main__wrapper.css);
@import url(./__title/main__title.css);
@import url(./__text/main__text.css);

.main {
  min-height: 576px;
  background-image: url(../../images/background-body.jpg);
  background-size: cover;
}
