@import url('./__input/search__input.css');

.search {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding-top: 64px;
}

@media screen and (max-width: 1023px) {
  .search {
    padding-top: 24px;
  }
}

@media screen and (max-width: 767px) {
  .search {
    padding-top: 64px;
  }
}
