.statistics__title {
  font-family: 'Roboto Slab', arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
  margin: 0;
  padding: 81px 0 20px;
}

@media screen and (max-width: 1023px) {
  .statistics__title {
    font-size: 32px;
    line-height: 34px;
    padding-top: 64px;
  }
}

@media screen and (max-width: 767px) {
  .statistics__title {
    padding:0 0 12px;
    font-size: 30px;
  }
}
