.table__title {
  font-family: 'Roboto Slab', arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1A1B22;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .table__title {
    font-size: 22px;
  }
}
