.error-search {
  box-sizing: border-box;
  width: 100%;
  min-height: 100px;
  background-color: #f5f6f7;
  font-family: 'Roboto Slab', arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
  margin: 0;
  padding: 20px;
  text-align: center;
  display: none;
}
