.history__button {
  display: none;
}

@media screen and (max-width: 767px) {
  .history__button {
    box-sizing: border-box;
    display: block;
    padding: 15px 69px;
    border-radius: 80px;
    font-family: Roboto, arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #1A1B22;
    border: 1px solid #1A1B22;
    text-decoration: none;
    margin: 48px auto 0;
    max-width: 288px;
    transition: all linear .1s;
  }

  .history__button:hover {
    opacity: .8;
  }
}
